body {
    margin: 0;
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.background {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
}

.blocks {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    height: 10px;
    width: 10vw;
    background-color: aqua;
    margin: 20px;
    margin-top: 46vh;
}

.divider {
    width: 10vw;
}

.before-load-box {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.before-load-background {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    position: absolute;
    z-index: -1;
    filter: blur(4px) brightness(0.8);
}

.before-load-btn {
    border: 2px solid rgb(245, 255, 131);
    border-radius: 10px;
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(245, 255, 131);
    transition: 0.3s;
}

.before-load-btn:hover {
    background-color: transparent;
}

.input-box {
    height: 40vh;
    width: 70vw;
    background-color: rgb(255, 255, 255, 0.6);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 20px;
    opacity: 0;
    transition: 0.3s;
}

.input {
    font-size: 30px;
    outline: none;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid rgb(74, 74, 74);
    padding: 10px;
    transition: 0.2s;
    background: rgb(255, 255, 255, 0.4);
}

.input:focus {
    border: 4px solid #6fc1ff;
}

.input-text {
    font-size: 40px;
    text-align: center;
}

.join-btn {
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -85%);
    border-radius: 6px;
    border: none;
    padding: 6px;
    cursor: not-allowed;
    background-color: #cdcccc;
    transition: 0.3s;
}

.blocker {
    background-color: rgb(0, 0, 0, 0.4);
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: 0.4s;
}

.title {
    font-size: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    opacity: 0;
    transition: 0.3s;
}

.count-down {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: 1;
    background-color: #fff;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s;
}